[defaults]
local_tmp = /tmp/ansible-local-tmp
remote_tmp = /tmp/.ansible/tmp
host_key_checking = False
fact_caching = memory

[ssh_connection]
control_path_dir = /tmp/ansible-ssh-cp
control_path = %(directory)s/%%h-%%p-%%r
